<ion-navbar primary>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stundenplan</ion-title>
</ion-navbar>

<ion-content class="my-modules">
    <ion-card *ngIf="menues.length > 0">
        <ion-card-content>
            <table style="width:100%;">
                <tr>
                    <td width="33%" style="text-align:center;font-size:1.8em;">
                        <ion-icon name="restaurant"></ion-icon>
                    </td>
                    <td width="33%" style="text-align:center;font-size:1.8em;">
                        <ion-icon name="restaurant"></ion-icon>
                    </td>
                    <td width="33%" style="text-align:center;font-size:1.8em;">
                        <ion-icon name="restaurant"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td *ngFor="#menu of menues" style="text-align:center;font-size:1.2em;">{{menu.title}}</td>
                </tr>
                <tr>
                    <td *ngFor="#menu of menues" style="text-align:center;font-size:0.7em;">{{menu.trimmings}}</td>
                </tr>
                <tr>
                    <td *ngFor="#menu of menues" style="text-align:center;font-size:1.2em;">{{menu.priceInt}} SFr.</td>
                </tr>
            </table>
        </ion-card-content>
    </ion-card>

    <ion-list class="card-background-page">
        <div *ngFor="#day of days; #i = index">
            <ion-list-header>
                {{day}}
            </ion-list-header>

            <ion-card *ngFor="#l of myLectures[i]" (click)="itemTapped($event, l.idlecture)">
                <div class="image-container">{{l.idlecture}}
                    <img src="http://web.fhnw.ch/technik/projekte/eit/Fruehling2014/Beck/FHNW.jpeg"/>
                    <div class="after"></div>
                </div>
                <div class="card-avatar">
                    <ion-avatar>
                        <img src="{{l.responsible | avatar | resize}}">
                    </ion-avatar>
                </div>
                <div class="card-title">{{l.module.short}} - {{l.classname}}</div>
                <div class="card-subtitle">{{l.starttime | truncate : 5}} - {{l.endtime | truncate : 5}} | Raum {{l.building}}.{{l.room}}</div>

            </ion-card>
        </div>
    </ion-list>

</ion-content>
