<ion-navbar primary>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{lecture.module.short}} - {{lecture.classname}}</ion-title>
</ion-navbar>


<ion-content class="lecture-detail">

    <div class="wrap">
        <img src="http://web.fhnw.ch/technik/projekte/eit/Fruehling2014/Beck/FHNW.jpeg"/>
        <div class="after"></div>
        <div class="text_over_image">{{lecture.starttime | truncate : 5}} - {{lecture.endtime | truncate : 5}}</div>
    </div>

    <ion-item class="colored-item">
        <ion-checkbox [(ngModel)]="hasLecture" (click)="toggleLecture()" item-left></ion-checkbox>
        <h2 item-left>{{lecture.module.short}} - {{lecture.classname}}</h2>
    </ion-item>

    <ion-item>
        <ion-icon name="pin" item-left></ion-icon>
        {{lecture.building}}{{lecture.room}}
        {{lecture.campus}}
    </ion-item>

    <ion-item *ngIf="lecture.responsible">
        <ion-icon name="person" item-left></ion-icon>
        {{lecture.responsible}}
        <ion-avatar item-right>
            <img src="{{lecture.responsible | avatar | resize}}">
        </ion-avatar>
    </ion-item>

    <ion-item *ngIf="tasks">
        <ion-icon name="clipboard" item-left></ion-icon>
        {{tasks.length}} Aufgaben
        <ion-icon name="add" [navPush]="[addTaskModalPage, taskParams]" item-right></ion-icon>
    </ion-item>

    <ion-list>
        <ion-item *ngFor="#t of tasks">
            <ion-checkbox [ngModel]="hasTask(t.idtask)" (click)="toggleTask(t.idtask)" item-left></ion-checkbox>
            <ion-label>
                {{t.title}}<br />
                {{t.description}}
            </ion-label>
            <ion-note item-right>{{t.due | truncate:10}}</ion-note>
        </ion-item>
    </ion-list>


</ion-content>
